<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">

@model APCM.Models.Collection.CollectionDetailsViewModel;
@using System.Text;
@{
    Guid? userId = null;
    bool? isAdmin = null;
    bool isAuth = User.Identity.IsAuthenticated;
    if (isAuth)
    {
        userId = Guid.Parse(User?.FindFirst("Id")?.Value);
        isAdmin = User?.IsInRole("Admin");
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <style>
        .horizontal-scrollable {
            overflow-x: auto;
            white-space: nowrap;
        }

            .horizontal-scrollable .scroll-item {
                display: inline-block;
                width: 150px;
                height: 200px;
                margin-right: 10px;
            }

        .scroll-item {
            width: 150px;
            height: 150px;
            margin-right: 10px;
            color: black;
            padding: 10px;
            background-color: #F5F5F5;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0.2, 0.2, 0.2, 0.2);
        }

    </style>
    </head>
    <body>
    <div class="flex align-items-left">
        <h2 class="mb-0">@Model.Collection.Title</h2>
        <p class="mb-0"><strong>Category: </strong>@Model.Collection.Category</p>
        <p class="mb-0"><strong>Items: </strong>@Model.Collection.Items.Count</p>
        <p class="mb-0"><strong>Description: </strong>@Model.Collection.Description</p>
        <div class="mt-2 mb-0">
        </div>
        @if (User.Identity.IsAuthenticated && ((userId == Model.Collection.UserId) || (isAdmin==true)))
        {
            <button class="btn btn-info" onclick=" window.location.href='/Collection/Edit?id=@Model.Collection.Id'">Edit Collection  <i class="bi bi-pencil-square"></i></button>
        }
        <hr />
        <div id="itemContainer" class=" container-fluid horizontal-scrollable" style="padding-left:0px"></div>
        <div class="d-flex">
            @if (User.Identity.IsAuthenticated && ((userId == Model.Collection.UserId) || (isAdmin==true)))
            {
                <button class="btn btn-info" onclick="window.location.href='/Item/Add?collectionId=@Model.Collection.Id'">
                    Add <i class="bi bi-plus-square"></i>
                </button>
            }
        </div>
    </div>

    </body>
</html>
<script>
    var collection = @Html.Raw(Json.Serialize(Model.Collection?? new APCM.Models.Entities.Collection()));
    console.log(collection);

    function createField(item) { 
        console.log(item)
        var htmlField = `
                        <div class="scroll-item mb-2" id="${item.id}" style="cursor: pointer; overflow: hidden; text-overflow: ellipsis;" onclick="window.location.href='/Item?id=${item.id}'">
                        <div>
                            <p class="" style="font-size:14px;"><strong>${item.title}</strong></p>`;
        item.customFieldValues.forEach(function (element) {
            if (element.value == null) {
                return;
            }
            val = element.value;
            if (element.type == "bool")
            {
                val = element.value == "true" ? "Yes" : "No";
            }
            htmlField += `<p class="mb-0" style="font-size:11px;"><strong>${element.fieldName}: </strong>${val}</p>`;
        });

        htmlField += `</div></div>`
        return htmlField;
    }


    function renderItems(){
        collection.items.forEach(item => {
            var htmlField = createField(item);
            document.getElementById('itemContainer').insertAdjacentHTML('beforeend',htmlField)
        })
    }

    window.onload=function(){
        renderItems();
    }
</script>
